<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CNT4713 Class Project</title>
</head>

<body>
    <div class="container">
        <h1>Laura Figueroa</h1>
        <form action="/submit" method="POST">
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}

            <div class="form-input">
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Submit" class="btn" />
            </div>
        </form>
    </div>
</body>

</html>
