<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream or Static feed</title>
</head>

<body>
    <div class="container">
        <h1>Laura Figueroa</h1>
        <div class="form-input">
            <form action="/static" method="POST">
                <button name="static" type="submit" class="btn">static</button>
            </form>

            <form action="/stream" method="POST">
                <button name="stream" type="submit" class="btn">stream</button>
            </form>
        </div>
    </div>
</body>

</html>
